<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="POS" connectionString="Data Source=.\SQLExpress;Database=dbGrandRest;User Id=pos;Password=pos;" providerName="System.Data.SqlClient"/>
    <add name="POS1" connectionString="Data Source=.\SQLExpress;Database=db1GrandRest;User Id=pos;Password=pos;" providerName="System.Data.SqlClient"/>
    <!--add name="OODB" connectionString="Data Source=192.168.1.200,1433\SQLExpress;Database=dbOO;User Id=pos;Password=pos;" providerName="System.Data.SqlClient"/-->
    <!--add name="OODB" connectionString="Data Source=207.81.175.51,14339\SQLExpress;Database=dbOO;User Id=pos;Password=pos;" providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="TimerInterval" value="10000"/>
    <add key="ApplicationPath" value="C:\OOSyncDBSvc"/>
    <add key="LogPath" value="Logs"/>
    <add key="OrderPath" value="Orders"/>
    <add key="CompletedPath" value="Completed"/>
    <!-- TSE Rest -->
    <!-- <add key="GFFetChMenuAPIMasterKey" value="gMxXb3peumSNheZXgH41HKiRG8Oet1Neu" /> -->
    <!-- GonSushi
    <add key="GFFetChMenuAPIRestaurantKey" value="zOEdYh1BGU15lZaNaw" />
    <add key="GFFetChOrderAPIRestaurantKey" value="d5zlJhrp8Fn3ovgrO" />
    <add key="CON_ONLINE_ORDER_START" value="165" />
    <add key="CON_ONLINE_ORDER_END" value="184" />     -->
    <!-- TSE DEMO RESTAURANT -->
    <add key="GFFetChMenuAPIRestaurantKey" value="d5zbzh6yyugdJWjJMM"/>
    <add key="GFFetChOrderAPIRestaurantKey" value="1boaoIJY9uk8jgBGZ5"/>
    <add key="CON_ONLINE_ORDER_START" value="165"/>
    <add key="CON_ONLINE_ORDER_END" value="184"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
