<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="POS" connectionString="Data Source=.\SQLExpress;Database=dbDenjiSushi;User Id=pos;Password=pos;" providerName="System.Data.SqlClient"/>
    <add name="POS1" connectionString="Data Source=.\SQLExpress;Database=db1DenjiSushi;User Id=pos;Password=pos;" providerName="System.Data.SqlClient"/>    
    <add name="OODB" connectionString="Data Source=207.81.175.51,1433\SQLExpress;Database=dbOO;User Id=pos;Password=pos;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>